*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135 deg, blue, purple);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius:10px;
    box-shadow:0px 20px 20px black;
    max-width: 400px;
    gap: 20px;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #6a85ff;
    display: block;
    margin: 0 auto 20px auto;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 20px;
}
h2 {
    font-size: 26px;
    margin: 10px 0;
    font-weight: bold;
}
main p {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    border: 2px solid #6a85ff;
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.3s;
}
footer a:hover {
    background: #6a85ff;
    color: white;
}
footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}